{% extends "base.html" %}
{% block title %}Listado de Cursos{% endblock %}

{% block content %}
  <p><a href="{% url 'logout' %}">Salir</a></p>

  <h1>Cursos</h1>
  {% if user.is_superuser %}
    <p><a href="{% url 'curso_new' %}">+ Crear Nuevo Curso</a></p>
  {% endif %}

  <table border="1" cellpadding="5" cellspacing="0">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Modalidad</th>
        <th>Fecha inicio</th>
        <th>Fecha fin</th>
        <th>Cupo</th>
        {% if user.is_superuser %}
          <th>Acciones</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>{% for c in cursos %}
  <tr>
    <td>{{ c.nombre }}</td>
    <td>{{ c.modalidad }}</td>
    <td>{{ c.fecha_inicio }}</td>
    <td>{{ c.fecha_fin }}</td>
    <td>{{ c.cupo }}</td>

    {% if user.is_superuser %}
      <td><a href="{% url 'curso_edit' c.pk %}">Editar</a></td>
    {% elif user.perfil.rol.codigo == 'EST' %}
        <td>
        <form method="post" action="{% url 'inscribirse' c.id %}">
          {% csrf_token %}
          <button type="submit">📝 Inscribirse</button>
        </form>
      </td>
    {% endif %}
        </tr>
      {% empty %}
        <tr>
          <td colspan="6">No hay cursos disponibles.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
